@using Lib.Web.Mvc.JQuery.JqGrid
@using NeuCMS.Models
@{
    var grid = new JqGridHelper<NameSpaceGridModel>("namespaces",
                                                    caption: "NameSpaces",
                                                    dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                                                    footerEnabled: true,
                                                    methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                                                    pager: true,
                                                    rowsList: new List<int> { 10, 20, 30, 40, 50 },
                                                    rowsNumber: 10,
                                                    sortingName: "Id",
                                                    sortingOrder: JqGridSortingOrders.Asc,
                                                    url: Url.Action("NameSpaces"),
                                                    userDataOnFooter: true,
                                                    viewRecords: true,
                                                    onSelectRow: "rowSelected"
        );

}
@section JavaScript
{
    <script type="text/javascript">
        $(document).ready(function() {
            @grid.GetJavaScript();
            $("#editNamespaceDiv").jqm({modal:true});
        });

    var lastSelected;
    function rowSelected(id) {
        $.get("@Url.Action("EditNameSpace")" + "?id=" + id, function(data) {
            $('#formData').replaceWith(data);
            $("#editNamespaceDiv").jqmShow();
        });
        
        $('#namespaces').jqGrid('resetSelection');
    }
    
    </script>
}
@grid.GetHtml()
<div id="namespaceDetail">
    <div id="editNamespaceDiv" class="jqmWindow">
        <div class="jqmHeader">
            <div class="jqmHeaderTitle">
                Title</div>
            <div class="jqmHeaderCloseButton">
                <input type="image" src="@Url.Content("~/Content/images/led-icons/cross.png")" class="jqmClose"/>
            </div>
        </div>
        <div class="jqmContent">
            <div id="formData"></div>
        </div>
    </div>
</div>
