@{
}

<div class="neucms-panel-header">
    <h2>Welcome to NeuCMS!</h2>
</div>
<p>
    Thanks to <a href="http://www.fatcow.com/free-icons">FatCow</a> and the <a href="http://led24.de/iconset/">LED Icon Set</a> for use of their wonderful icons.
</p>
