<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NeuCMSDB" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Develop\NeuCMS\NeuCMS.Repositories.EntityFramework.Tests\test.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>
</configuration>